:markdown
  [Webhooks](http://www.webhooks.org/) in Contentful
  can notify you or someone else when content has changed.
  For example, when an Entry has been published Contentful sends
  the published Entry to a preconfigured HTTP endpoint.
  This can be used for notifications, static site generators or other forms
  of post-processing that is sourced from Contentful.

  Webhooks are called when Assets, Entries or Content Types are published
  or unpublished. Therefore the Webhook's receiver will always get the latest
  version (or deletion thereof) available through the Delivery API.
