= title_anchor 'h2', "endpoints", "Endpoints"

:markdown
  List of all endpoints:

  Method|Path                               |See also
  ------|-----------------------------------|---------------------------------------------------
  GET   |/spaces/:space_id                  |[Getting a Space](#getting-space)
  GET   |/spaces/:space_id/content_types    |[Searching Content Types](#searching-content-types)
  GET   |/spaces/:space_id/content_types/:id|[Getting a Content Type](#getting-content-type)
  GET   |/spaces/:space_id/entries          |[Searching Entries](#searching-entries)
  GET   |/spaces/:space_id/entries/:id      |[Getting an Entry](#getting-entry)
  GET   |/spaces/:space_id/assets           |[Searching Assets](#searching-assets)
  GET   |/spaces/:space_id/assets/:id       |[Getting an Asset](#getting-asset)
  GET   |/spaces/:space_id/sync             |[Synchronization](#sync)
