:markdown
  Delete an existing Space by doing a DELETE request to `/spaces/ID`.
  Note that deleting a Space will remove its entire content, including all Content Types, Entries and Assets.
  Be careful as this action can not be undone.

= code_examples do
  = language_block :javascript do
    :plain
      client.getSpace('{space_key}').then(function(space) {
        return client.deleteSpace(space);
      }).then(log.ok, log.fail);

      // or delete Space by ID:
      client.deleteSpace('{space_key}').then(log.ok, log.fail);
  = language_block :shell do
    = curl method:  'DELETE',
           path:    '/spaces/{space_key}'

%h5 Response

:markdown
  Empty response.
