= title_anchor 'h4', "resources-webhooks-update", "Updating a Webhook"

:markdown
  Updating Webhook with the ID foobar:

= code_examples do
  = language_block :shell do
    = curl method:  'PUT',
           path:    '/spaces/{space_key}/webhook_definitions/foobar',
           data:    {url: 'https://example.com/v2'},
           version: 1
