= title_anchor 'h2', "getting-help", "Getting Help"

:markdown
  - [Support](https://support.contentful.com/hc/en-us)
  - [Contentful Status Page](http://status.contentful.com/)
  - [Stack Overflow questions tagged with contentful](http://stackoverflow.com/questions/tagged/contentful)
  - [#contentful on irc.freenode.net](irc://irc.freenode.net/contentful)

