= title_anchor 'h3', "cors", "Cross-origin resource sharing"

:markdown
  [CORS (Cross-origin resource sharing)](http://en.wikipedia.org/wiki/Cross-origin_resource_sharing)
  allows JavaScript web apps to make HTTP requests to other domains.
  This is very important for third party web apps using Contentful:
  Without CORS, a JS app on https://example.com couldn't access the
  Content Management or the Content Delivery API because they're on
  contentful.com which is a different domain.
  In short, without CORS it wouldn't be possible to easily access
  Contentful's APIs from a third party web app.

  To allow JavaScript applications running inside browsers to freely
  interact with our APIs we're setting the following HTTP response headers:

  - `Access-Control-Allow-Origin`: `*`
  - `Access-Control-Allow-Headers`: A long list of common headers
  - `Access-Control-Allow-Methods`: Common HTTP verbs
  - `Access-Control-Max-Age`: Reasonably high to avoid preflight requests

  This should allow web apps to do whatever the user has given them
  permission for.

  Note: Allowing all origins is safe because of the way the APIs are designed:

  - All requests must include an access token in the query string or as
  header for every request. They will never be sent implicitly by a cookie.
  - Destructive requests can only be issued against the HTTPS endpoint.

  CORS is [supported by all modern browsers](http://caniuse.com/cors).
  Read how to use CORS in this [HTML5 rocks tutorial on CORS](http://www.html5rocks.com/en/tutorials/cors/).
