= title_anchor 'h2', "json", "JSON Format Details"

:markdown
  Resources are represented as [JSON](http://json.org).

= title_anchor 'h3', "date-time-format", "Date & Time Format"

:markdown
  Dates and times are an important part of all content.
  Let's look at an Entry:

= language_block :json do
  :plain
    {
      "sys": {
        "type": "Entry",
        "id": "nyancat",
        "createdAt": "2013-05-01T08:00:00Z",
        "updatedAt": "2013-05-02T13:00:00Z"
      }
    }

:markdown
  Here we can see a few dates and times in both the content and the [system properties](#system-properties):

  - Nyan Cat's birthday is April 2nd 2011
  - Nyan Cat's meal time is 13:00
  - The nyancat entry has been created May 1st 2013 at 08:00
  - The nyancat entry has been updated May 2nd 2013 at 13:00

  In JSON date and time are always represented as [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601)-encoded string.

  System-generated dates are represented as UTC.

- # TODO: Check which exact formats or parts of ISO 8601 we support.
