= title_anchor 'h2', "getting-started", "Getting Started"

:markdown
  In order to use the Content Management API you need an OAuth access token to authenticate with the API.
  To easily get you an access token we've made this documentation an interactive OAuth application.

%login-form
  .ng-cloak
    %div(ng-hide="auth")
      :markdown
        If you have a Contentful account you can authorize this app to access your data. After the login, URIs and code snippets within this document are customized to use your credentials.
      %button(ng-click="login()") Login via Contentful
    %div(ng-show="auth")
      %div(ng-show="auth.message")
        :markdown
          Something went wrong during login. Here are the scary details:

          {{auth.message}}

          If you think something is wrong, please [get in touch](#getting-help) and include the details above!
        %button(ng-click="login()") Try login again
      %div(ng-show="auth.user")
        :markdown
          Logged in as {{auth.user.firstName}}. Here's your OAuth access token:

          {{auth.accessToken}}

          URIs and code snippets within this document have been updated to use your credentials.

          Open up [Contentful's UI](https://#{Contentful.config.app_host}) and see the effects of your API requests!

          This access token should only be used for learning and testing purposes. Please create a separate OAuth application for production usage.
        %button(ng-click="logout()") Logout

- if false
  #_TODO_

  #- Provide link to start OAuth app dance
  #- When user comes back should display user's access_token and use it in all the examples
  #- Also let the user click some button to create an initila Space or something and explain that this is where all the example code is going to run in, similar to the Tutorial space

= title_anchor 'h3', "whats-next", "What's next"

:markdown
  In the following sections you'll learn about a few high-level concepts.
  We'll go through using all endpoints and you'll learn how they work in detail.

  You are encouraged to follow along in your Terminal.
  Most topics have example snippets that you can copy, paste and execute to inspect the results. Of course, nothing prevents you from using the API with languages other than JavaScript.

  We hope you enjoy the interactive way of learning about the API.
