= title_anchor 'h2', "i18n", "Localization"

:markdown
  Assets and Entries can be localized:
  Each field in an Asset or an Entry can exist in multiple locales.

  Let's look at this excerpt of a localized Blog Post Entry for example:

= language_block :json do
  :plain
    {
      "fields": {
        "title": {
          "en-US": "Nyan cat has been spotted in the wild!",
          "tlh": "chaDo'maq nyan vIghro' qaStaHvIS qu'bogh!"
        }
      }
    }

:markdown
  In the [Content Delivery API](/developers/documentation/content-delivery-api/) fields of Entries and Assets will be flattened to the value of the requested or the default locale.
