= title_anchor 'h4', "resources-webhooks-delete", "Deleting a Webhook"

:markdown
  Deleting Webhook with the ID foobar:

= code_examples do
  = language_block :shell do
    = curl method:  'DELETE',
           path:    '/spaces/{space_key}/webhook_definitions/foobar'
