= title_anchor 'h4', "resources-webhooks-fields", "Webhook Fields"

:markdown
  Field            |Type        |Description
  -----------------|------------|----------------------------------------------------------
  sys              |Sys         |See [common system properties](#system-properties).
  url              |String      |URL of Webhook receiver where HTTP request will be made.
  httpBasicUsername|String      |(Optional) HTTP Basic auth username
  httpBasicPassword|String      |(Optional) HTTP Basic auth password
